<div class="row">
  <div class="col-md-4">
    <h2>Address</h2>
    <p>117 W. South Street Kalamazoo, MI 49007 </p>

  </div>
  <div class="col-md-4">
    <h2>Phone number</h2>
    <p>   (269) 553-4297 </p>

 </div>
  <div class="col-md-4">
    <h2>Email</h2>
    <p>gardnercjg@aol.com</p>

  </div>
  <div class="col-md-4">
    <h2>Hours</h2>
    <p> Tue -Fri 11am - 6 pm</p>
    <p> Sat  11am - 4:30 pm</p>
  </div>
  <div class="row" id="header">
             <div class="col-xs-12">
                 <img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.200.200/p200x200/12573933_1138462652831134_1170392822138054906_n.jpg?oh=8a4bf16d715b73c62514c7645ca522ed&oe=590E5F92" />

             </div>
         </div>

</div>
